:root {
    --color-background: #f9f9fb;
    --color-main: #fbfbfb;

    --color-box: #e8e8e8;
    --color-box-hover: #dedede;

    --color-text: #1e1e2f;
    --color-text-white: #fbfbfb;

    --color-shadow: #bababa;
    --color-border: #c0c0c0;
    --color-border-dark: #888888;

    --color-background-highlight: rgba(224, 224, 224, .3);

    --color-accent: #00bfa6;
    --color-accent-hover: #009c87;
    
    --color-success: #5eff4c;
    --color-alert: #ff4c4c;
    --color-danger: #fff34c;
    --color-info: #4cbdff;

    --color-change-red: #ff4c4c;
    --color-change-green: #4cff6a;
    --color-change-purple: #ba4cff;
    --color-change-red-hover: #c03737;
    --color-change-green-hover: #37bf4d;
    --color-change-purple-hover: #8236b2;
}

.dashboard-page {
    max-width: 80vw;
    margin: 4rem auto;
    padding: 2rem;
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-page .title {
    font-size: 2.3rem;
    color: var(--color-text);
    margin-bottom: 2rem;
    text-align: center;
}

.dashboard-page .title span{
    color: var(--color-accent);
}

.table-container {
    margin-top: 2rem;
    width: 100%;
    overflow-x: auto;
}

.sessions-table {
    width: 100%;
    border-collapse: collapse;
}

.sessions-table th,
.sessions-table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}

.sessions-table th {
    color: var(--color-text);
    background-color: var(--color-box);
    font-weight: 600;
}

.sessions-table tr:nth-child(even) {
    background-color: var(--color-background-highlight);
}

.sessions-table tr:hover {
    background-color: var(--color-box-hover);
}

.sessions-table .actions .danger{
    color: var(--color-alert);
    text-decoration: none;
    cursor: pointer;
}

.sessions-table .actions .danger:hover{
    color: var(--color-change-red-hover);
}

.no-sessions {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--color-text);
    text-align: center;
}