    :root {
        --color-background: #f9f9fb;
        --color-main: #fbfbfb;

        --color-box: #e8e8e8;
        --color-box-hover: #dedede;

        --color-text: #1e1e2f;

        --color-shadow: #bababa;
        --color-border: #c0c0c0;
        --color-border-dark: #888888;

        --color-accent: #00bfa6;
        --color-accent-hover: #009c87;
        
        --color-success: #5eff4c;
        --color-alert: #ff4c4c;
        --color-danger: #fff34c;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", sans-serif;
    }

    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    html {
        font-size: 1rem;
    }

    body {
        min-height: 100vh;
        background-color: var(--color-background);
        color: var(--color-text);
        line-height: 1.5;
    }

    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        padding: 1rem 2rem;
        border-bottom: .0625rem solid var(--color-border);
    }

    .navbar .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .navbar .nav-links {
        list-style: none;
        display: flex;
        gap: 1.5rem;
    }

    .navbar .nav-links a {
        color: var(--color-text);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
    }

    .navbar .nav-links a:hover {
        text-decoration: underline;
    }

    /* Main container */
    .container {
        max-width: 100%;
        margin: 2rem auto;
        padding: 1rem;
        text-align: center;
        flex: 1;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: #1e1e2f;
    }

    /* Upload */
    .upload-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .upload-text i{
        font-size: 2.5rem;
        color: var(--color-accent);
    }

    .upload-text h1 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .upload-text span {
        color: var(--color-shadow);
    }

    .loading-spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loading-spinner h2 {
        font-size: 1.3rem;
        font-weight: 600;
    }
    
    .loading-spinner i {
        color: var(--color-accent);
        margin-bottom: 1rem;
    }

    /* Canvas Area */
    .upload-box {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-main);
        border-radius: .25rem;
        background-color: var(--color-box);
        outline: .0625rem dashed var(--color-border);
        width: 80vw;
        /* min-height: 50vh;
        max-height: 70vh; */
        height: 60vh;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: background 0.3s ease, transform 0.2s ease;
    }
    
    .upload-box:hover {
        cursor: pointer;
        background-color: var(--color-box-hover);
    }
    
    .content-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .canvas-area {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .top-bar {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;
        background-color: var(--color-main);
        border-bottom: 0.0625rem solid var(--color-border);
    }
    
    .canvas-scroll {
        flex: 1 1 auto;
        width: 100%;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #warpCanvas {
        background-color: var(--color-background);
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border: 0.0625rem solid var(--color-border);
    }
    
    .control-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        background-color: var(--color-main);
        min-width: 150px;
        padding: 1rem 0.5rem;
        border-left: .0625rem solid var(--color-border);
    }

    .button-row {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    button {
        padding: 0.5rem 1rem;
        border: none;
        background: #1e1e2f;
        color: white;
        font-weight: bold;
        border-radius: 0.375rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    button:hover {
        background: #3b3b4f;
    }

    /* Footer */
    footer {
        text-align: center;
        padding: 1.5rem;
        width: 98%;
        color: var(--color-text);
        margin-top: 4rem;
        font-size: 0.8rem;
        border-top: .0625rem solid var(--color-border);
    }
