:root {
    --color-background: #f9f9fb;
    --color-main: #fbfbfb;

    --color-box: #e8e8e8;
    --color-box-hover: #dedede;

    --color-text: #1e1e2f;
    --color-text-white: #fbfbfb;

    --color-text-span: #bababa;

    --color-shadow: #bababa;
    --color-border: #c0c0c0;
    --color-border-dark: #888888;

    --color-background-highlight: rgba(224, 224, 224, .3);  

    --color-accent: #00bfa6;
    --color-accent-hover: #009c87;
    
    --color-success: #5eff4c;
    --color-alert: #ff4c4c;
    --color-danger: #fff34c;
    --color-info: #4cbdff;

    --color-change-red: #ff4c4c;
    --color-change-green: #4cff6a;
    --color-change-purple: #ba4cff;
    --color-change-red-hover: #c03737;
    --color-change-green-hover: #37bf4d;
    --color-change-purple-hover: #8236b2;
}

.dark-mode {
    --color-background: rgb(36, 36, 40);
    --color-main: #242427;

    --color-text-span: #9e9d9d;

    --color-box: #2f2f32;
    --color-box-hover: #2b2b2d;

    --color-text: #e8e8e8;

    --color-shadow: #1d1919;
    --color-border: rgb(64, 64, 64);
    --color-border-dark:#514e4e;

    --color-background-highlight: rgb(53, 51, 51);

    --color-accent: #00e0c0;
    --color-accent-hover: #00bfa6;

    --color-success: #3cff70;
    --color-alert: #ff6666;
    --color-danger: #fff266;
    --color-info: #6ecbff;

    --color-change-red: #ff6666;
    --color-change-red-hover: #c94c4c;
    --color-change-green: #5eff80;
    --color-change-green-hover: #3fcf50;
    --color-change-purple: #c583ff;
    --color-change-purple-hover: #915ccf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    color: var(--color-text);
    font-size: 1rem;
}

body {
    min-height: 100vh;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.5;
}

.hidden {
    display: none!important;
}

.active-btn {
    background-color: var(--color-accent)!important;
    color: var(--color-text-white)!important;
}

.active-color-btn {
    transform: scale(.75);
}

/* navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    line-height: 2;
    padding: 1rem 2rem;
    background-color: var(--color-main);
    z-index: 10000;
    border-bottom: none;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 1px;
    background: var(--color-border);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .6s ease-out;
}

.navbar.scrolled::after {
    transform: scaleX(1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar .nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown > a::after {
    content: ' ▼';
    font-size: .7rem;
    margin-left: .2rem;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-main);
    border: .0625rem solid var(--color-border);
    border-radius: .2rem;
    min-width: 10rem;
    box-shadow: 0 2px 6px var(--color-shadow);
    padding: .5rem 0;
    list-style: none;
    z-index: 9000;
}

.nav-links .dropdown-content a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}

.nav-links .dropdown-content a:hover {
    background: var(--color-border);
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.theme-toggle {
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    width: 8ch;
    padding: .25em 0;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-box);
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s;
    user-select: none;
}

.theme-toggle:hover {
    background-color: var(--color-box-hover);
    border-color: var(--color-border-dark);
}

/* Main container */
.container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    flex: 1;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--color-accent);
}

/* Upload */
.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.upload-text i{
    font-size: 2.5rem;
    color: var(--color-accent);
}

.upload-text h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.upload-text span {
    color: var(--color-text-span);
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-spinner h2 {
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: 600;
}

.loading-spinner i {
    color: var(--color-accent);
    margin-bottom: 1rem;
}

/* Canvas Area */
.upload-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-main);
    border-radius: .25rem;
    background-color: var(--color-box);
    outline: .0625rem dashed var(--color-border);
    width: 80vw;
    /* min-height: 50vh;
    max-height: 70vh; */
    height: 70vh;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: background .3s ease, transform .2s ease;
}

.upload-box:hover {
    cursor: pointer;
    background-color: var(--color-box-hover);
}

.content-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}

.canvas-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-bar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    background-color: var(--color-main);
    border-bottom: .0625rem solid var(--color-border);
}

.canvas-scroll {
    flex: 1 1 auto;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#warpCanvas {
    background-color: var(--color-background);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 0.0625rem solid var(--color-border);
}

.control-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-main);
    min-width: 150px;
    padding: 1rem .5rem;
    border-left: .0625rem solid var(--color-border);
}

.control-panel .title {
    width: 100%;
    border-bottom: .0625rem solid var(--color-box-hover);
}

.control-panel .title h2 {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 400;
}

.control-panel .buttons {
    margin-top: 0;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: .0625rem solid var(--color-box-hover);
}

.current-points {
    width: 100%;
    overflow-y: scroll;
    /* margin-right: .5rem; */
}

.control-panel .decimal-control {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: auto;
    margin-bottom: 1rem;
    align-self: center;
    padding-top: 1rem;
    border-top: .0625rem solid var(--color-box-hover);
}

.control-panel .decimal-control button{
    padding: .5rem 1rem;
    border: none;
    outline: .0625rem solid var(--color-accent);
    border-radius: .2rem;
    font-size: .65rem;
    cursor: pointer;
    transition: background .3s ease;
}

.control-panel .decimal-control button:hover{
    background-color: var(--color-accent-hover);
}

.control-panel .ellipse-control {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: .75rem;
    align-self: center;
    padding-top: 1rem;
    border-top: .0625rem solid var(--color-box-hover);
}

.control-panel .ellipse-control button{
    padding: .5rem 1rem;
    border: none;
    background-color: var(--color-main);
    border-radius: .375rem;
    font-size: .8rem;
    cursor: pointer;
    transition: background .3s ease;
}

.control-panel .ellipse-control button:hover {
    background: var(--color-border);
}

.control-panel .color-control {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1rem;
    align-self: center;
    padding-top: 1rem;
    border-top: .0625rem solid var(--color-box-hover);
}

.control-panel .color-control button{
    width: 1.5rem;
    height: 1.5rem;
    border: .125rem solid var(--color-box-border);
    border-radius: .2rem;
    box-shadow: 0 1px 3px var(--color-shadow);
    cursor: pointer;
    transition: background .3s ease;
}

.color-btn[data-color="red"] { background-color: var(--color-change-red); }
.color-btn[data-color="green"] { background-color: var(--color-change-green); }
.color-btn[data-color="purple"] { background-color: var(--color-change-purple); }
.color-btn[data-color="red"]:hover { background-color: var(--color-change-red-hover); }
.color-btn[data-color="green"]:hover { background-color: var(--color-change-green-hover); }
.color-btn[data-color="purple"]:hover { background-color: var(--color-change-purple-hover); }

.control-panel .brush-control {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1rem;
    align-self: center;
    padding-top: 1rem;
    border-top: .0625rem solid var(--color-box-hover);
}

.control-panel .brush-control label {
    display: inline-block;
    box-sizing: border-box;
    font-size: .8rem;
    font-weight: bold;
    background: var(--color-accent);
    color: var(--color-text-white);
    min-width: 5ch;
    padding: .25rem .5rem;
    text-align: center;
    white-space: nowrap;
}

.control-panel .brush-control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5rem;
    margin: 0 .5rem;
    background: var(--color-border); 
    border-radius: .25rem;
    outline: none;
    transition: background 0.2s;
}

.control-panel .brush-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--color-accent);
    border: 2px solid var(--color-main);
    cursor: pointer;
    transition: transform .1s;
}

.control-panel .brush-control input[type="range"]:hover,
.control-panel .brush-control input[type="range"]:focus {
    background: var(--color-box-hover);
}

.control-panel .brush-control input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.15);
}

.control-panel .brush-control input[type="range"]::-moz-range-thumb,
.control-panel .brush-control input[type="range"]::-ms-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--color-accent);
    border: 2px solid var(--color-main);
    cursor: pointer;
    transition: transform .1s;
}

.current-points .point-item {
    position: relative;
    background-color: var(--color-background-highlight);
    height: 4rem;
    border-radius: .25rem;
    padding: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 1px 1px 2px var(--color-box-hover);
}

.point-count {
    font-size: .75rem;
    margin-bottom: .5rem;
    background-color: var(--color-accent);
    color: var(--color-main);
    padding: .2rem .5rem .2rem .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
}

.current-points .point-header {
    font-size: .6rem;
    color: var(--color-accent);
    margin-bottom: .25rem;
}

.current-points .point-values {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    font-weight: 500;
    font-size: 1rem;
}

.current-points .delete-icon {
    cursor: pointer;
    color: var(--color-alert);
    margin-left: .5rem;
    font-size: .8rem;
}

.current-points .delete-icon i {
    font-size: .5rem;
}

.button-row {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    padding: .5rem 1rem;
    border: none;
    background-color: var(--color-main);
    color: var(--color-text);
    border-radius: .375rem;
    font-size: .8rem;
    cursor: pointer;
    transition: background .3s ease;
}

button:hover {
    background: var(--color-border);
}

#doneSelectionBtn {
    background-color: var(--color-accent)!important;
}

#doneSelectionBtn:hover {
    background-color: var(--color-accent-hover)!important;
}

.stat-area {
    margin-top: 2rem;
    width: 80vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background .3s ease, transform .2s ease;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.stat-cube {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: .35rem;
    box-shadow: 0 0 .5rem var(--color-shadow);
    display: flex;
    flex-direction: column;
    transition: transform .2s ease;
}

.stat-cube:hover {
    transform: translateY(-.2rem);
}

.stat-value {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.stat-label {
    position: absolute;
    font-size: .8rem;
    color: var(--color-accent);
    font-weight: 600;
    top: .5rem;
    left: .5rem;
}

.stat-desc {
    font-size: .6rem;
    color: var(--color-text-span);
    text-align: left;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    width: 98%;
    color: var(--color-text);
    margin-top: 4rem;
    font-size: .8rem;
    border-top: .0625rem solid var(--color-border);
}
